<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.wit.danielsapplication">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_gym_foreground"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_gym_foreground"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".activities.AddSessionActivity"
                  android:screenOrientation="portrait"
                  android:theme="@style/AppTheme.NoActionBar"/>

        <activity
            android:name=".activities.HomeActivity"
            android:label="@string/app_name"/>

        <activity
            android:name=".activities.RegisterActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".activities.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
<!-- Splash MAIN launcher -->
        <activity
            android:name=".activities.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"> <!-- I use no action bar for my splash activity as this is a start up image and allows for a sort of presentation to my application -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>